/* TODO: choose font family ^) */

.main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
    max-width: 400px;
    height: 600px;
    background-color: white;
    box-shadow: 0 4px 20px #845747;
    margin: 50px auto;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form label {
    color:#845747;
    font-size: 18px;
}

.form input {
    padding: 15px;
    text-align: start;
    font-size: 16px;
    width: 120%;
    border-radius: 16px;
    border: 2px solid #845747;
    transition: border-color 0.3s ease; 
    outline: none; 
}

.form input:focus {
    border: 2px solid #dc97a5;
}

button {
    border-radius: 16px;
    width: 200px;
    height: 50px;
    background-color:#b83556;
    color: white;
    transition: transform 0.2s ease; 
    border: none;
    text-align: center;
}

button:hover{
    transform: scale(1.06);
}

.link {
    font-size: 16px;
    transition: transform 0.2s ease; 
}

.link:hover {
    color:#dc97a5
}

.github-div {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


.github-div button {
    width: 100%;
    height: 40px;
    background-color: #845747;
}

.github-div p {
    text-align: center;
    font-size: 16px;
    max-width: 100%;
    color:#845747;
}

.back-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-div a {
    color: #b83556;
    font-size: 18px;
}

.back-div a:hover {
    color: #845747;
}