.main-div-forgot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
    max-width: 500px;
    height: 250px;
    background-color: white;
    box-shadow: 0 4px 20px #845747;
    margin: 50px auto;
}